---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

// Definición de la interfaz y datos de las preguntas frecuentes
interface FAQItem {
  question: string;
  answer: string;
}

const faqs: FAQItem[] = [
  {
    question: "¿Quién es Roy y qué hace?",
    answer:
      "Roy es un chatbot interactivo con el cual puedes conversar. Está diseñado para ofrecer recomendaciones en áreas clave como recetas, música y libros. Todo en pro de la vida sana y el mejoramiento de la salud",
  },
  {
    question: "¿Qué capacidades tiene el bot en cuanto a conocimiento y diversidad?",
    answer:
      "Roy maneja especificamente 3 áreas de interés: recetas, música y libros. Cada área tiene cierto número de información, que no es demasiado extensa, pero tampoco demasiado corta.",
  },
  {
    question: "¿Cuál es el enfoque inicial del bot?",
    answer:
      "El enfoque inicial del bot está en el área de recetas, música y libros. Pero puede añadirse más temas de interés para los clientes en el futuro.",
  },
  {
    question: "¿A quién está dirigido este bot?",
    answer:
      "El bot está dirigido a cualquier persona interesada en mejorar la calidad de su vida.",
  },
  {
    question: "¿El chat tiene un límite de tiempo?",
    answer:
      "Roy es completamente de uso libre, puedesw conversar con él el tiempo que sea necesario y puedes pedirle la cantidad de recomendaciones que desees.",
  },
  {
    question: "¿Cómo puedo empezar a usar el bot?",
    answer:
      "Para empezar a usar el bot, simplemente inicia la interacción a través de la interfaz de usuario principal, dando clic en el botón 'Try now' o 'Pruébalo ahora' y podrá acceder al chat interactivo. Dile a Roy cómo te sientes y que temas te interesan. Después, él te dará algunas recomendaciones.",
  },
];
---

<!-- Contenido HTML con la lógica para mapear las preguntas frecuentes -->
<Layout>
  <Header />
  <section class="faq-section max-w-4xl mx-auto p-6 mt-44">
    <h2 class="text-3xl font-bold mb-4">Preguntas Frecuentes</h2>
    <div class="faq-container space-y-4">
      {faqs.map((faq) => (
        <div class="faq-item bg-white shadow-md p-4 rounded-lg">
          <h3 class="text-xl font-semibold">{faq.question}</h3>
          <p class="text-gray-700 mt-2">{faq.answer}</p>
        </div>
      ))}
    </div>
  </section>
</Layout>

<style is:global>
  .faq-section {
    background-color: #687450;
    padding: 2rem;
  }
  .faq-item {
    border: 1px solid #e5e7eb;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .faq-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  }
</style>
