---
// Importaciones y configuración inicial
import Layout from "../layouts/Layout.astro";
---

<Layout title="Login">
  <div class="login-container">
    <h1 class="text-pretty text-3xl font-semibold">Welcome to FaceIA</h1>
    <p>Please login to your account to continue exploring the future of IA</p>
    
    <form>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <div class="login-options">
        <label>
          <input type="checkbox" id="rememberMe" name="rememberMe" />
          Remember me
        </label>
      </div>

      <button type="submit">Login</button>

      <p class="error-message"></p>
      
      <div class="form-links">
        <a href="/forgot-password">Forgot password?</a>
        <a href="/sign-up">Sign up</a>
      </div>
    </form>
  </div>

  <script src="/js/login.js" defer></script>

  <style>
    .error-message {
      color: rgb(255, 255, 255);
      text-align: center;
      margin-top: 10px;
    }
    .login-container {
      max-width: 600px;
      margin: auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      margin-top: 300px;
    }

    h1 {
      text-align: center;
      margin-bottom: 10px;
      color: #ffffff;
    }

    p {
      text-align: center;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    label {
      margin-bottom: 5px;
      font-weight: bold;
    }

    input {
      margin-bottom: 10px;
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    .login-options {
      margin-bottom: 10px;
    }

    button {
      padding: 10px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      background-color: #00aa41;
      color: white;
      cursor: pointer;
      margin-bottom: 10px;
    }

    button:hover {
      background-color: #2d5e00;
    }

    .form-links {
      text-align: center;
    }

    .form-links a {
      margin: 0 10px;
      color: #ffffff;
      text-decoration: none;
    }

    .form-links a:hover {
      text-decoration: underline;
    }
  </style>

</Layout>