---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Testimonials">
  <Header />

  <section class="testimonials-container mt-32">
    <div class="testimonials-grid">
      <div class="testimonial-card">
        <img src="src/img/User1.jpg" alt="Testimonial Avatar" class="testimonial-avatar">
        <p class="testimonial-text">Since I met Roy, my way of life has changed a lot.</p>
        <p class="testimonial-author">John Doe</p>
      </div>

      <div class="testimonial-card">
        <img src="src/img/User2.jpg" alt="Testimonial Avatar" class="testimonial-avatar">
        <p class="testimonial-text">I love this site, the content is very varied.</p>
        <p class="testimonial-author">Jane Smith</p>
      </div>

      <div class="testimonial-card">
        <img src="src/img/User3.jpg" alt="Testimonial Avatar" class="testimonial-avatar">
        <p class="testimonial-text">Before I was a person with a disorderly lifestyle, thanks to this site I have started to lead a much healthier life.</p>
        <p class="testimonial-author">Michael Johnson</p>
      </div>

      <div class="testimonial-card">
        <img src="src/img/User4.jpg" alt="Testimonial Avatar" class="testimonial-avatar">
        <p class="testimonial-text">I love Roy, he always helps me find things to do when I have free time.</p>
        <p class="testimonial-author">Emily Davis</p>
      </div>

      <div class="testimonial-card">
        <img src="src/img/User5.jpg" alt="Testimonial Avatar" class="testimonial-avatar">
        <p class="testimonial-text">I love the design of the website and the easy access it handles.</p>
        <p class="testimonial-author">David Lee</p>
      </div>

      <div class="testimonial-card">
        <img src="src/img/User6.jpg" alt="Testimonial Avatar" class="testimonial-avatar">
        <p class="testimonial-text">My knowledge and eating habits are now better. And the best thing is that I can have them at hand.</p>
        <p class="testimonial-author">Sarah Kim</p>
      </div>
    </div>
  </section>
</Layout>

<style>
.testimonials-container {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.testimonial-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-top: 60px;
}

.testimonial-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.testimonial-text {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.testimonial-author {
  font-weight: bold;
  margin-top: 10px;
}
</style>