---
import BentoItem from "./BentoItem.astro"
---
<section
    class="w-full max-w-[1400px] grid grid-cols-10 auto-rows-[25rem] gap-4 mx-auto px-20 mt-44"
>
    <!-- Cuadro 1: Bot Music -->
    <BentoItem 
        class="col-span-5"  
        title="Bot Music"
        subtitle="Hello! I'm Alex Johnson, your music expert"
    >
        <div
            slot="image"
            class="absolute top-0 left-0 w-full h-full group-hover:scale-110 transit-scale duration-1000 ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat"
            style="background-image: url('src/img/Musicbot.jpg');"
        > </div>              
    </BentoItem>
    
    <!-- Cuadro 2: Bot Food -->
    <BentoItem 
        class="col-span-5" 
        title="Bot Food" 
        subtitle="¡Hola! Soy tu experto en comida, y estoy aquí para guiarte en un delicioso viaje por el mundo de los sabores."
    >
        <div
            slot="image"
            class="absolute top-0 left-0 w-full h-full group-hover:scale-110 transit-scale duration-1000 ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat"
            style="background-image: url('src/img/Foodcook.jpg');"
        ></div>
    </BentoItem>
    
    <!-- Cuadro 3: Samantha Lee (cuadro grande en la parte inferior) -->
    <BentoItem 
        class="col-span-10 flex items-center justify-center"
        title="Samantha Lee" 
        subtitle="Hello! I am your guide in the art world. I'm here to take you on a journey through centuries of human creativity."
    >
        <div
            slot="image"
            class="absolute top-0 left-0 w-full h-full group-hover:scale-110 transit-scale duration-1000 ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat"
            style="background-image: url('src/img/Mbot.jpg');"
        ></div>
    </BentoItem>
</section>

<section>
    <h1 class="text-[#ffffff] text-5xl text-pretty text-center mt-44">BotFaceIA Chapters</h1>
    <div class="flex justify-center space-x-4 px-4 mt-44">
      
        <!-- Card 1 -->
        <div class="bg-[#4a5d23] shadow-md rounded-lg overflow-hidden w-1/4">
            <img src="src/img/Robot Icon.png" alt="Imagen 1" class="w-auto h-auto mx-auto rounded-md mb-4">
            <div class="p-4">
                <h2 class="text-xl font-semibold mb-2 text-white">Chapter 1: Introduction to AI</h2>
                <p class="text-gray-300">Dive into the basics of Artificial Intelligence, understand its applications, and explore the fundamentals of AI development.</p>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="bg-[#5b6b3e] shadow-md rounded-lg overflow-hidden w-1/4">
            <img src="src/img/Brain Icon.png" alt="Imagen 2" class="w-auto h-auto mx-auto rounded-md mb-4">
            <div class="p-4">
                <h2 class="text-xl font-semibold mb-2 text-white">Chapter 2: Neural Networks</h2>
                <p class="text-gray-300">Unravel the mysteries of Neural Networks, the building blocks of AI, and learn how they mimic the human brain's learning process.</p>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="bg-[#6b7b43] shadow-md rounded-lg overflow-hidden w-1/4">
            <img src="src/img/Cpu Icon.png" alt="Imagen 3" class="w-auto h-auto mx-auto rounded-md mb-4">
            <div class="p-4">
                <h2 class="text-xl font-semibold mb-2 text-white">Chapter 3: AI in Practice</h2>
                <p class="text-gray-300">See AI in real-world applications, from predictive analytics to machine learning, and understand how it's shaping the future.</p>
            </div>
        </div>
    </div>
</section>
