---
import BentoItem from "./BentoItem.astro";
---

<section class="w-full max-w-[1400px] grid grid-cols-10 auto-rows-[25rem] gap-4 mx-auto px-20 mt-44">
  <!-- Music Section -->
  <BentoItem
    href="/music"
    class="col-span-5 bg-[#a0c49d]"
    title="Music section"
    subtitle="Songs to meditate, do yoga, or just relax."
  >
    <div
      slot="image"
      class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-no-repeat group-hover:scale-110 transition-transform duration-1000 ease-in-out"
      style="background-image: url('/img/yoga.jpg');"
    ></div>
  </BentoItem>

  <!-- Food Section -->
  <BentoItem
    href="/food"
    class="col-span-5 bg-[#b2d3c2]"
    title="Food section"
    subtitle="Healthy recipes to nourish your body."
  >
    <div
      slot="image"
      class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-no-repeat group-hover:scale-110 transition-transform duration-1000 ease-in-out"
      style="background-image: url('/img/comer_sano.jpg');"
    ></div>
  </BentoItem>

  <!-- Book Section -->
  <BentoItem
    href="/books"
    class="col-span-10 bg-[#d2e6d4]"
    title="Book section"
    subtitle="Recommendations to improve your mental health."
  >
    <div
      slot="image"
      class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-no-repeat group-hover:scale-110 transition-transform duration-1000 ease-in-out"
      style="background-image: url('/img/libros.png');"
    ></div>
  </BentoItem>
</section>

<section>
    <h1 class="text-[#ffffff] text-5xl text-pretty text-center mt-44">ChatBot Chapters</h1>
    <div class="flex justify-center space-x-4 px-4 mt-44">
      
        <!-- Card 1 -->
        <div class="bg-[#4a5d23] shadow-md rounded-lg overflow-hidden w-1/4">
            <img src="src/img/Robot Icon.png" alt="Imagen 1" class="w-auto h-auto mx-auto rounded-md mb-4">
            <div class="p-4">
                <h2 class="text-xl font-semibold mb-2 text-white">Chapter 1: Introduction to ChatBot</h2>
                <p class="text-gray-300">A chatbot is a computer program designed to simulate conversation 
                    with humans. It can answer questions, provide help, or chat casually using text or 
                    voice. Chatbots are often used in websites, apps, and messaging platforms 
                    to offer quick support or information.</p>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="bg-[#5b6b3e] shadow-md rounded-lg overflow-hidden w-1/4">
            <img src="src/img/Brain Icon.png" alt="Imagen 2" class="w-auto h-auto mx-auto rounded-md mb-4">
            <div class="p-4">
                <h2 class="text-xl font-semibold mb-2 text-white">Chapter 2: Meet Roy and what he can do</h2>
                <p class="text-gray-300">Roy is a chatbot that helps you with your mood, 
                    just tell him how you feel and he will make different recommendations 
                    (music, books or food).</p>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="bg-[#6b7b43] shadow-md rounded-lg overflow-hidden w-1/4">
            <img src="src/img/Cpu Icon.png" alt="Imagen 3" class="w-auto h-auto mx-auto rounded-md mb-4">
            <div class="p-4">
                <h2 class="text-xl font-semibold mb-2 text-white">Chapter 3: What else does the site offer?</h2>
                <p class="text-gray-300">You can save the content you like in an organized way, 
                    share and comment with other users, as well as customize the page to your liking..</p>
            </div>
        </div>
    </div>
</section>
