---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Intro from '../components/Intro.astro'
import Ask from '../components/Ask.astro';
import Bento from '../components/Bento.astro';
import BentoItem from '../components/BentoItem.astro';
import Interfaz from '../components/Interfaz.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

---

<Layout 
		
	title="Meet Your Face IA Bot" 
	
	<main>
		<Intro/>
		<Bento/>
		<Interfaz/>
		
	</main>
	<Footer/>	
</Layout>
<style>
	
</style>
