---
import BentoItem from './BentoItem.astro';
---
<section
    class=`
        w-full max-w-[1400px]
        grid grid-cols-10 auto-rows-[25rem] gap-4
        mx-auto px-20`
   
        
    >
    <BentoItem 
        class="col-span-10 md:col-span-12" 
        title="Bot"/ 
        subtitle="Desde"
        ><div
        slot="image"
        class=" absolute top-0 left-0 w-full 
            h-full group-hover:scale-110 transit-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover
            bg-no-repeat  -z-10"
      style="background-image: url('/finca3.jpeg');">
    </div>