<section class="w-full max-w-[1400px] mx-auto px-20 mt-36" id="intro-vue">
    <div id="header-vue" class="flex items-center justify-between">
        <!-- Contenedor de texto alineado a la izquierda -->
        <div class="text-left">
            <h1 class="text-3xl text-pretty">
                <strong class="text-[#ffffff]">Meet Roy, our interactive chatbot</strong>
            </h1>
            <p>
                Let yourself be helped to have a healthier life, thanks to this interactive chatbot that takes into account your mood.
            </p>
            <!-- Botones debajo del texto -->
            <div class="mt-16">
                <a 
                    href="/Bot" 
                    class="bg-[#425638] text-white py-2 px-4 rounded mr-2"
                >
                    Try now
                </a>
                <a 
                    href="/learnMore" 
                    class="bg-white text-[#425638] py-2 px-4 rounded border border-[#425638]"
                >
                    Learn more
                </a>
            </div>
        </div>
        <!-- Imagen alineada a la derecha -->
        <img id="logo-vue" class="w-1/3" src="/src/img/chatbot.png" alt="Logo">
    </div>
</section>

<!-- Sección de testimonios -->
<section class="w-full max-w-[1400px] mx-auto px-20 mt-44" id="testimonials">
    <h2 class="text-2xl font-bold text-center mb-8 text-yellow-50">User testimonials</h2>
    <div class="flex justify-between gap-4">
        <!-- Card 1 -->
        <div class="bg-white p-6 rounded-lg shadow-md flex-1">
            <img src="/src/img/User2.jpg" alt="User Image" class="w-auto h-auto mx-auto rounded-md mb-4">
            <p style="font-style: italic" class="text-gray-700">
                "I love this site, the content is very varied."
            </p>
            <span class="block mt-4 text-sm font-bold text-gray-600">- Jane Smith</span>
        </div>
        <!-- Card 2 -->
        <div class="bg-white p-6 rounded-lg shadow-md flex-1">
            <p style="font-style: italic" class="text-gray-700">
                <img src="/src/img/User5.jpg" alt="User Image" class="w-auto h-auto mx-auto rounded-md mb-4">
                "I love the design of the website and the easy access it handles."
            </p>
            <span style="font-style: italic" class="block mt-4 text-sm font-bold text-gray-600">- David Lee</span>
        </div>
        <!-- Card 3 -->
        <div class="bg-white p-6 rounded-lg shadow-md flex-1">
            <!-- Imagen dentro de la tarjeta -->
            <img src="/src/img/User4.jpg" alt="User Image" class="w-auto h-auto mx-auto rounded-md mb-4">
            <p style="font-style: italic" class="text-gray-700">
                "I love Roy, he always helps me find things to do when I have free time."
            </p>
            <span class="block mt-4 text-sm font-bold text-gray-600">- Emily Davis</span>
        </div>
    </div>
</section>
