---
import Header from '../components/Header.astro';
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <!-- Incluir la fuente Montserrat -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <Header/>
        <slot />
    </body>
</html>

<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
    }
    html {
        font-family: 'Montserrat', sans-serif; /* Aplicar la fuente Montserrat */
        background: #687450;
		.Header {
			background: #425638;
		}
        p {
		color:rgba(0, 0, 0, 0.9);
		line-height: 1.1;
		margin-bottom: 1em;
		font-size: 0.9em;
		letter-spacing: 0.5px;
		font-weight: 50;
		
		
	}
	@keyframes brillo {
		0% {
			background-position: -200px;

		}
		100% {
			background-position: 10px;
		}
	}
	p  {
  color: #242424;
  
  font-weight: 800;
  background-image: linear-gradient(65deg, #000000, #ffffff, #000000);
  background-clip: text;
  line-height: 1.4;
}

/* Cambia #header-dev a .header-dev si usas clases en lugar de IDs */
.header-dev {
    color: #000000;
    backdrop-filter: blur(5px);
}

/* Mantén ID si es único */
#header-vip {
    background-color: rgb(255, 255, 255);
}

#header-nav {
    animation: blurAnimation 1s linear both; /* Añade nombre y duración de la animación */
}

@keyframes blurAnimation {
    to {
        box-shadow: 
            0px 5px 50px -5px rgba(255, 255, 255, 0.1),
            0px 5px 50px 1px rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(20px);
    }
}

    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }
</style>
